node_modules
.env
.env.*

dist
build
coverage

android/.gradle
android/.idea
android/local.properties
android/**/build
android/**/.cxx
android/**/.externalNativeBuild

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

PRD*
